{% include "final/includes/header.html" %}    
{% load static %}
{% if request.method == 'GET' %}
<h1>Droga do celu</h1>
<form action="{% url 'final:create_path' %}" method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group-main form-group">
            <div class="form-group-item autocomplete-item">
                <label for="start">Punkt początkowy</label>
                <input type="text" name="start" id="start" class="autocomplete-name" autocomplete="off" required>
                <input type="hidden" name="starting-route" class="autocomplete-id" required>
            </div>
            <div class="form-group-item autocomplete-item">
                <label for="end">Punkt końcowy</label>
                <input type="text" name="end" id="end" class="autocomplete-name" autocomplete="off" required>
                <input type="hidden" name="ending-route" class="autocomplete-id" required>
            </div>
        </div>
        <div class="form-group-additional form-group">
            <h2>Dodatkowe parametry</h2>
            <div class="form-group-item">
                <label for="max_changes">Maksymalna liczba przesiadek</label>
                <input type="number" id="max_changes" name="max_changes" value="0" min="0" max="10">
            </div>
            <div class="form-group-item">
                <label for="max_waiting_time">Maksymalny czas oczekiwania na przesiadkę [min]</label>
                <input type="number" id="max_waiting_time" name="max_waiting_time" value="0" min="0" max="1440">
            </div>
            <div class="form-group-item">
                <label for="max_distance_on_foot">Maksymalny dystans pieszo [m]</label>
                <input type="number" id="max_distance_on_foot" name="max_distance_on_foot" value="0" min="0" max="10000">
            </div>
        </div>
        <div class="form-group-search form-group">
            <div class="form-group-item">
                <label for="search">Szukaj</label>
                <input type="submit" value="Szukaj">
            </div>
        </div>
    </div>
</form>
<script src="{% static '/form.js' %}"></script>
{% endif %}
{% include "final/includes/footer.html" %}