{% include 'final/includes/header.html' %}
{% if not route %}
    <div class="route-not-found">
        <h1>Nie znaleziono trasy</h1>
        <p>Przepraszamy, nie znaleźliśmy trasy pomiędzy {{ start_name }} a {{ end_name }} spełniającej podane kryteria
            (maksymalna liczba przesiadek: {{ max_changes }}, maksymalny czas oczekiwania na przesiadkę: {{ max_waiting_time }}
            maksymalny dystans do pokonania pieszo: {{ max_distance_on_foot }}).</p>
    </div>
{% else %}
    <div class="route-found">
        <h3>Trasa od {{ start_name }} do {{ end_name }} została znaleziona.</h3>
        <ol class="step-list">
            {% for step in route %}
                <li class="step-list-item">
                {% if step.line == -1 %}
                    Przejdź pieszo z {{ step.stop1 }} do {{ step.stop2 }}.
                {% else %}
                    Wsiądź na {{ step.stop1 }} do {{ step.line }} i wysiadź na {{ step.stop2 }}.
                {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
{% include 'final/includes/footer.html' %}