@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600;700;900&display=swap');

body {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

form {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 38px;
}

form h2 {
    overflow: hidden;
    text-align: center;
    margin: 0 0 30px 0;
    color: #666;
    font-weight: 400;
}

input {
    font-family: 'Noto Sans'
}

/*form h2::after,
form h2::before {
    background-color: #d8d8d8;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.04);
}

form h2:before {
    right: 1em;
    margin-left: -50%;
}
form h2:after {
    left: 1em;
    margin-right: -50%;
}*/

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #c8c8c8 1px solid;
    background: white;
    border-radius: 15px;
    margin: 40px 0;
    padding: 30px;
}

.form-group-item label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.form-group-additional {
    flex-wrap: wrap;
}

.form-group-additional h2 {
    flex-basis: 100%;
}

.form-group-item input {
    border: 1px solid #bbb;
    background: #fff;
    height: 45px;
    width: 180px;
    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    display: block;
    padding: 10px 15px;
    box-sizing: border-box;
}

.form-group-main input {
    width: 250px;
}

.form-group-search {
    border: none;
    margin: 60px 0;
    padding: 0;
}

.form-group-search label {
    display: none;
}

.form-group-search input {
    border-radius: 30px;
    height: 55px;
    background: #02C1DE;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.form-group-search input:hover {
    background: #07B3CE;
}

.stop-list {
    max-height: 250px;
    width: 250px;
    overflow-y: scroll;
    position: absolute;
    background: white;
}

.stop-element {
    height: 40px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.stop-list-shadow {
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.20);
}

.autocomplete-active,
.stop-element:hover {
    background: #C5EFF6;
}

span.stop-match {
    font-weight: bold;
}

.route-info {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.route-not-found p {
    text-align: center;
}

.route-text-info {
    font-weight: bold;
}

.route-found h3 {
    text-align: center;
    margin: 40px 0 60px 0;
}

.route-found ol {
    position: relative;
    left: 40px;
}

.route-found li::marker {
    color: black;
    font-size: 20px;
}

.route-found li {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-left: 45px;
    list-style-position: oustide;
}

.route-found li:after {
    content: " ";
    position: absolute;
    left: 0.5px;
    top: 2px;
    background: #02C1DE;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -10;
}

.route-found li:first-child:after,
.route-found li:last-child:after {
    width: 40px;
    height: 40px;
    left: -6px;
    top: -6px;
}

.route-found li:first-child,
.route-found li:last-child {
    list-style-position: inside;
    padding-left: 7px;
}

.route-found li:first-child::marker,
.route-found li:last-child::marker {
    color: white
}

.route-found li:first-child .li-container,
.route-found li:last-child .li-container {
    padding-left: 12px;
}

.route-found li:before {
    content: " ";
    position: absolute;
    left: 12px;
    border-left: 3px dashed #02C1DE;
    height: 100%;
    width: 1px;
    z-index: -20;
}

.route-found li:first-child:before {
    top: 6px;
}

.route-found li:last-child:before {
    height: 6px;
}

.return-button {
    display: block;
    border-radius: 30px;
    height: 55px;
    background: #02C1DE;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 300px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin: 50px auto;
}

.return-button:hover {
    background: #07B3CE;
}

footer {
    text-align: center;
    color: #aaa;
    margin-top: 50px;
}