@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600;700;900&display=swap');

body {
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

form {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.form-container {
    
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-weight: 400;
}

form h2 {
    overflow: hidden;
    text-align: center;
    margin: 40px 0;
    color: #666;
    font-weight: 400;
}

/*form h2::after,
form h2::before {
    background-color: #d8d8d8;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.04);
}

form h2:before {
    right: 1em;
    margin-left: -50%;
}
form h2:after {
    left: 1em;
    margin-right: -50%;
}*/

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #c8c8c8 1px solid;
    border-radius: 25px;
    margin: 30px 0;
    padding: 30px;
}

footer {
    text-align: center;
    color: #aaa;
}